 body{
    font-size: 20px;
    background-image: url('https://image.shutterstock.com/z/stock-vector-geometric-low-poly-question-quiz-background-200928617.jpg');
} 
#start{
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}
h1{
    color: #177BCF;
    font-size: 40px;
    margin: 0 33%;
}
#mainDiv{
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}
li{
    padding: 10px;
}
button{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 15px 40%;
    border: none;
    color: whitesmoke;
    background-color: #177BCF;
    border-radius: 4px;
}
button:hover{
    box-shadow: 5px 4px 10px gray;
}
button:mainDiv{
    padding: 15px;
}
#result{
    margin: 40px auto;
    padding: 50px;
}
#result h1{
    font-size: 50px;
}